{% extends 'base.html' %}
{% load static %}
{% block title %}home{% endblock %}
{% block content %}
<style>
    #calendar-container {
        display: flex;
        justify-content: center;  
        height: 100%;            
    }

    #calendar {
        max-width: 1000px;         
        max-height: 100%;        
        width: 100%;            
        overflow-y: auto;         
    }
</style>

<div id="calendar-container">
    <div id="calendar"></div>
</div>

<script src="{% static 'fullcalendar/dist/index.global.js' %}"></script>
<script>
        document.addEventListener('DOMContentLoaded', function() {
            var calendarEl = document.getElementById('calendar');

            var calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: 'dayGridMonth',
                events: '/api/tasks/',
                eventClick: function(info) {
                    alert('Evento: ' + info.event.title + '\nDescrição: ' + info.event.extendedProps.description);
                }
            });

            calendar.render();
        });
</script>

{% endblock %}